@import '../partials/_colors';
@import '../partials/_mixins';

body {
    background-color: $lightgray !important;
}

/* Remove blue outline around selected inputs */

input:focus, textarea:focus, select:focus{
    outline: none;
}

/* Main menu styles */

.ui.menu {
    font-size: 1.7rem;
    box-shadow: none;
    border: none;
    min-height: 10vh;
}

/* Reusbale standardized page-container */

.page-container {
    display: flex !important;
    height: 86vh;
    width: 100%;

    .page-content {
        margin: auto;
        width: 100%;
    }
}

/* Reusable title header styles, appears on Home page and Profile pages */

.title-container {
    display: flex;
    width: 100%;
    background-color: $pink;
    align-items: flex-end;
    margin: auto;

    .heading {
        padding: 5px 7px;

        .title{
            margin: 0 2px;
        }

        .title:last-child {
           margin: 15px 4px;
        }

        .title:first-child {
           padding-top: 4px;
        }

        .title h1 {
            font-size: 3em;
            color: #fff;
            line-height: 0.9;
        }

        .title-span {
            background-color: white;
            color: $pink;
            padding: 0 5px;
        }
    }
    .logged-in {
        flex: 1;
        padding: 15px;
        font-size: 15px;
        color: white;

        .logged-in-inner {
            width: 180px;
            float: right;
            font-size: 1.3em;
            line-height: 1.3em;
            padding: 6px;
            border: 3px solid white;
        }
    }
}

@media (max-width: 900px) {
    .page-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}


