@import '../partials/_colors';
@import '../partials/_fonts';

body {
    background-color: $lightgray !important;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
}

.underline {
    text-decoration: underline;
}

// Remove blue outline around selected inputs
input:focus, textarea:focus, select:focus{
    outline: none;
}

// To avoid zoom on phones
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
textarea {
  font-size: 16px;
}

.ui.yellow.large.message {
    color: #000;
}

// fix semantic ui bug on modals
.ui.tiny.modal {
    padding: 10px;
}

// Reusbale standardized page-container
.page-container {
    display: flex !important;
    width: 100%;
    align-items: center;
    justify-content: center;

    .page-content {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {

    .page-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
