@import '../partials/_colors';
@import '../partials/_mixins';

body {
    background-color: $lightgray !important;
    font-family: 'Archivo Black', sans-serif;
}

// TEMP: remove before production
// .ui.menu {
//     margin-bottom: 0;
// }

// // Main menu styles
// .ui.menu {
//     font-size: 1.7rem;
//     box-shadow: none;
//     border: none;
//     min-height: 10vh;
// }

.underline {
    text-decoration: underline;
}

// Remove blue outline around selected inputs
input:focus, textarea:focus, select:focus{
    outline: none;
}


// Reusbale standardized page-container
.page-container {
    display: flex !important;
    width: 100%;
    align-items: center;
    justify-content: center;

    .page-content {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width: 900px) {

    .page-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
