@import '../partials/_colors';

.box-border {
    border: 11px solid peachpuff;
    padding: 10%;
    text-align: center;
    background-color: lightgoldenrodyellow;

    button {
        text-transform: uppercase !important;
        color: #000 !important;
    }
}

