// Feedback
.feedback-inner {
    margin: 10px;
    line-height: 2;
}


.error {
    color: red;
    background-color: antiquewhite;
    span {
        width: 100%;
        display: block;
        text-align: center;
    }
}

.success, .deleted {
    background-color: antiquewhite;

    span {
        width: 100%;
        display: block;
        text-align: center;
    }
}

@media (max-width: 800px) {

    .feedback-inner {
        width: 90%;
    }
}
