@import '../partials/_mixins';
@import '../partials/_colors';

.login-signup-container {
    // max-width: 700px;
    margin: 0 auto;
    height: 330px;

    .login-signup-form {
        background-color: $lightyellow !important;
        padding: 20px;

        .signup-form, .login-form {
            @include form-styles

            input { @include input-styles }

            button { @include action-btn }
        }

    }

    .signup-login-tabs {
        flex: 1;
        display: flex;
        cursor: pointer;

        .signup-tab, .login-tab {
            flex: 1;
            display: flex;

            h3 {
                font-size: 2em;
                margin: auto;
                &:hover { color: white }
            }
        }

        .active-main {
            @include active(none)
        }

        .signup-tab { background-color: $lightblue; }
        .login-tab { background-color: $peach; }
    }
}



@media (min-width: 1000px) {

    .login-signup .page-content {
        width: 760px;
    }

    .login-signup .title-container {
        width: 100%;
        height: 226px;

        .heading {
            .title h1 {
                font-size: 4em;
            }
        }
    }
}

@media (min-width: 900px) {
    .login-signup-container {
         display: flex;

        .login-signup-form, .signup-login-tabs {
            display: flex;
         }

        .login-signup-form {
            flex: 2;
        }

        .signup-login-tabs {
            flex-direction: column;

            .signup-tab, .login-tab {
                h3 {
                    font-size: 3em;
                }
            }
        }
    }
}



