@import '../partials/_mixins';
@import '../partials/_colors';


.background {
    background: url('../../../../assets/images/map.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.login-signup-container {
    width: 100%;
    height: 500px;

    .landing-page-feedback {
        height: 15px;
    }

    .login-signup {
        margin: 0 auto;

        .login-signup-form {
            background-color: $lightyellow !important;
            height: 100%;
            display: flex;
            @include form-styles
            input { @include input-styles }
            button { @include action-btn }

            .form-container {
                margin: auto;
                width: 100%;

                .custom-form {
                    padding: 20px 20px 0px 20px;
                }
            }
        }

        .signup-login-tabs {
            flex: 1;
            display: flex;
            cursor: pointer;


            .signup-tab, .login-tab {
                padding: 2%;
                flex: 1;
                display: flex;

                h3 {
                    font-size: 2em;
                    margin: auto;
                    -o-transition: color .3s ease;
                    -ms-transition: color .3s ease;
                    -moz-transition: color .3s ease;
                    -webkit-transition: color .3s ease;
                    transition: color .3s ease;
                }
            }

            .active-main {
                @include active(none)
            }

            .signup-tab { background-color: $lightblue; }
            .login-tab { background-color: $peach; }
        }
    }

}

@media (min-width: 800px) {

    .login-signup-container {
        width: 760px;
    }

    .login-signup .title-container {
        width: 100%;
        height: 226px;

        .heading {
            .title h1 {
                font-size: 4em;
            }
        }
    }
}

@media (min-width: 900px) {
    .login-signup {
         display: flex;
         height: 65%;

        .login-signup-form, .signup-login-tabs {
            display: flex;
         }

        .login-signup-form {
            flex: 3;
        }

        .signup-login-tabs {
            flex-direction: column;

            .signup-tab, .login-tab {

                h3 {
                    font-size: 3em;
                }

            }

            .login-tab:hover {
                background-color: rgba(255, 217, 185, 0.8);
            }
            .signup-tab:hover {
                background-color: rgba(192,219,226, 0.8);
            }
        }
    }
}


