@import '../partials/_fonts';
@import '../partials/_colors';

.menu {
    border-radius: 0 !important;
}

.ui[class*="top attached"].menu {
    margin-top: 0px;
}

.right.menu, .left.menu {
    .item {
        font-family: $raleway !important;
        font-weight: 500;
        a {
            -o-transition: color .5s ease;
            -ms-transition: color .5s ease;
            -moz-transition: color .5s ease;
            -webkit-transition: color .5s ease;
            transition: color .5s ease;
        }
    }

    .dropdown {
        .item {
            a {
                color: #000 !important;
                -o-transition: color .5s ease;
                -ms-transition: color .5s ease;
                -moz-transition: color .5s ease;
                -webkit-transition: color .5s ease;
                transition: color .5s ease;
            }
            a:hover {
                color: $pink !important;
            }
        }
    }
}


.ui.inverted.menu .item>a:hover {
    color: $pink;
}

.hamburger, .close-mobile-menu {
    display: none !important;
}


@media (max-width: 768px) {

    .hamburger, .close-mobile-menu {
        display: block !important;
    }

    .wp-menu.hide.menu {
        display: none !important;
    }

}
