@import '../partials/_mixins';
@import '../partials/_colors';

.profile-menu-column {
    flex: 1;
    justify-content: space-between;

    .profile-menu-item {
        cursor: pointer;
        color: #000;

        h3 {
            margin: auto;
        }

        h3: hover {
            color: darkgray !important;
        }
    }

    .profile-menu-item:hover {
        color: darkgray !important;
    }

    .profile-menu-item {
        border-bottom: 1px solid darkgray !important;
    }

    .last-item {
        border-bottom: none !important;
    }
}


.profile-form-column {
    min-height: 600px;
    min-height: 100vh;
    background-color: #fff;
    flex: 5;
    display: flex;


    .profile-form {
        margin: 0 auto;
        margin-top: 6%;
        margin-bottom: 3%;

        .profile-segment {
            padding-bottom: 15px;

            .profile-page-menu .item {
                font-size: 0.8em;
            }

            .steps {
               display: flex;

               .step-list ul li {
                   list-style: none;
                }
            }
        }

        .progress-bar {
            font-size: 20px;
            padding: 20px 0;
            margin: 40px 0;
            line-height: 1.5em;

            .ui.progress:first-child {
               margin: 0 0 0.3em;
            }

            .progress  {
                display: flex;
                span {
                    flex: 1;
                    text-align: center;
                    text-transform: uppercase;
                }
            }
        }



        .school-form {
            margin-top: 40px;
        }

        h3.segment-title {
            text-align: center;
        }

        .container-center-content {
            display: flex;

            .add-class {
                margin: auto;
            }
        }

        .div-display-inline-block {
           display: inline-block;
           margin-right: 20px;
        }

        .div-display-inline-block:last-child {
            margin-right: 0px
        }

        .inner-box-inline-block {
            display: flex;
            justify-content: flex-start;

            label, span {
                display: block;
            }

            span, div {
               display: block;
            }

            label {
                font-weight: bold;
            }
        }

        .flex-outer {
            display: flex;
            margin: 2em 0;

            .flex-inner-1 {
                flex: 1;
                display: flex;
                flex-direction: column;
            }

            .flex-inner-3 {
                flex: 3;
                display: flex;
                flex-direction: column;
            }

            label {
                font-weight: bold;
                margin-bottom: 10px !important;
            }

            .flex-item {
                margin-bottom: 1em;
            }

            .status {
                display: flex;
                flex: 1;
                align-items: center;

                span {
                    text-transform: uppercase;
                    font-size: 1.5em;
                    line-height: 1.2em;
                    // margin: auto;
                }
            }

            .border {
                border-bottom: 1px solid gray;
                padding-bottom: 7px;
            }
        }

        .btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            .center-btn {
                display: flex;
                justify-content: center;
            }
        }
    }
}

.form-row {
    margin: 7px 0;

    .form-label {
        letter-spacing: 0.2em;
    }

    .form-input-span {
        .form-input {
            width: 100%;
            letter-spacing: 0.2em !important;
            flex: 1;
        }


        input[type=email], input[type=password], input[type=search], input[type=text] {
            -webkit-appearance: textfield;
            -moz-appearance: none;
        }
    }

    .form-input {
        padding: 8px;
    }
}

.active-profile {
    @include active($lightyellow)
}

.instructions {
    margin: 30px 0;
}


@media (min-width: 1000px) {

    .page-content {
        .profile-form-column .profile-form {
            width: 65%;
        }
    }
}

@media (max-width: 1000px) {
       .page-content {
            .profile-form-column .profile-form {
                width: 85%;
            }
    }
}



@media(min-width: 900px) {

    .profile-column-container {
        display: flex;
    }

    .profile-menu-column {
        flex-direction: column;

        .profile-menu-item {
            display: flex;
            height: 90px;
            border-bottom: 1px dotted #000;
        }

        .profile-menu-item h3:hover {
            color: darkgray !important;
        }

        h3:hover {
            color: darkgray !important;
        }

    }
}


@media(max-width: 900px) {

    .profile-menu-item {
        padding: 1%;
        border-bottom: 1px solid gray !important;

        h3 {
            color: #000;
        }
    }


    .profile-menu-item:last-child {
        border-bottom: none;
    }

    .profile-menu-item.active-profile h3 {
        background-color: transparent;
        color: #000;
        padding: 0;
    }
}


@media(max-width: 600px) {
    .eight.wide.column.overview-class-details {
        width: 100% !important;
    }

    .profile-form-column .profile-form .flex-outer .status {
        padding: 1em;

        span {
            font-size: 1.2em;
        }
    }
}
