@import '../partials/_mixins';
@import '../partials/_colors';

.profile-menu-column {
    flex: 1;
    justify-content: space-between;

    .profile-menu-item {
        cursor: pointer;
        h3 { margin: auto; }
    }

    .profile-menu-item:last-child {
        border-bottom: none;
    }
}

.profile-form-column {
    min-height: 600px;
    min-height: 100vh;
    background-color: #fff;
    flex: 5;
    display: flex;


    .profile-form {
        margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 3%;

        .profile-segment {
            padding-bottom: 15px;

            .profile-page-menu .item {
                font-size: 0.8em;
            }

            .form-row {
                margin: 10px 0;

                .form-label {
                    letter-spacing: 0.2em;
                }

                .form-input-span {
                    .form-input {
                        width: 100%;
                        letter-spacing: 0.2em !important;
                        flex: 1;
                    }
                }

                .form-input {
                    padding: 8px;
                }
            }

            .steps {
               display: flex;
               .step-list ul li {
                   list-style: none;
                }
            }
        }

        .ui.progress:first-child {
           margin: 0 0 0.3em;
        }

        .progress  {
            display: flex;
            span {
                flex: 1;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .school-form {
            margin-top: 40px;
        }

        h3.segment-title {
            text-align: center;
        }

        .container-center-content {
            display: flex;

            .add-class {
                margin: auto;
            }
        }

        .div-display-inline-block {
           display: inline-block;
           margin-right: 20px;
        }

        .div-display-inline-block:last-child {
            margin-right: 0px
        }

        .class-overview {
            display: flex;
            justify-content: flex-start;

            label, span {
                display: block;
            }

            span {
               display: block;
               margin-left: 12px;
            }

            label {
                font-weight: bold;
            }
        }
    }
}

.active-profile {
    @include active($lightyellow)
}


@media (min-width: 1000px) {
    .profile {
        .page-content {
            // width: 70vw;

            .profile-form-column .profile-form {
                width: 65%;
            }
        }
    }
}

@media(min-width: 900px) {
    .profile-column-container {
        display: flex;
    }

    .profile-menu-column {
        flex-direction: column;

        .profile-menu-item {
            display: flex;
            // flex: 1;
            height: 90px;
            border-bottom: 1px dotted #000;
        }
    }
}

