.centered-outer-div {
    height: 95vh;
    display: flex;

    .centered-inner-div {
        margin: auto;
    }
}

@media (max-width: 800px) {
    .centered-outer-div {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .centered-outer-div {
        width: 100%;
    }
}


.column-layout {
    max-width: 1300px;
    background-color: #fff;
    line-height: 1.65;
    margin: 40px auto 0 auto;
    padding: 20px 50px;
    display: flex;

    .main-column {
        flex: 3;
        order: 2;
    }

    .sidebar-1 {
        flex: 1;
        order: 1;
    }

    .sidebar-2 {
        flex: 1;
        order: 3;
    }
}

.equal-height-container {
    max-width: 600px;
    margin: 0 auto;
    display: flex;

    .first {
        background-color: #fff !important;
        padding: 20px;
        flex: 1;
    }

    .second {
        background-color: yellow;
        flex: 1;
        display: flex;
        flex-direction: column;

        .second-a {
            background-color: #c0dbe2;
            flex: 1;
        }

        .second-b {
            background-color: green;
            flex: 1;
        }
    }
}

.div-centered-content {
    display: flex;
    justify-content: center;
}
