@mixin input-styles {
    padding: 8px;
    width: 100%;
    letter-spacing: 0.2em;
    -webkit-appearance:  button-bevel;
}

@mixin action-btn {
    margin: 10px 0;
    color: #000;
}

@mixin form-styles {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;

    .form-row {
        display: flex;
    }
}

@mixin active($backgroundColor) {
    background-color: $backgroundColor;
    h3 {
        color: #000;
        padding: 3px 8px;
        border-bottom: 2px solid black;

    }
}
